body {
    font-family: monospace;
    font-size: 17px;
    padding: 0;
    width: 100%;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;   
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid black;
}

.nadpis{
    width: 300px;
    padding: 0 20px;
    text-align: center;
    margin-top: 50px;
}

.info {
    background-color: #333;
    display: flex;
    justify-content: center;
    color: white; 
    text-indent: 50px;
    padding: 10px;
}

.info a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

section {
    padding: px;
    justify-content: center;
    display: flex;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cheffik{
    display: flex;
    justify-content: center;
    opacity: 20%;
}

.ikonky{
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 30px;
    color-scheme: white;
}

.doba{
    justify-content: center;
    display: flex;
    margin-left: 1100px
}

.dny{
    justify-content: center;
    display: flex;
    margin-left: 1100px;
    column-count: 7;
    column-gap: 20px;
}

.dny p{
    margin: 5px;
}


