body {
    font-family: monospace;
    font-size: 17px;
    padding: 0;
    width: 100%;
    margin: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid black;
}

.nadpis{
    justify-content: center;
    display: flex;

}

.info {
    background-color: #333;
    display: flex;
    justify-content: center;
    color: white; 
    text-indent: 50px;
}

.info a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

section {
    padding: px;
    justify-content: center;
    display: flex;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cheffik{
    display: flex;
    justify-content: center;
    opacity: 20%;
    margin-top: -420px;
}

.ikonky{
    margin-top: 28px;
    display: flex;
    justify-content: center;
    gap: 30px;
    color-scheme: white;
}

.doba{
    justify-content: center;
    display: flex;
    margin-left: 1100px
}

.dny{
    justify-content: center;
    display: flex;
    margin-left: 1100px;
    column-count: 7;
    column-gap: 20px;
}

.pondeli{
    text-align: right;
    margin-right: 377px;
    margin-top: 120px;
}

.utery{
    text-align: right;
    margin-right: 396px;
    margin-top: 30px;
    
}

.streda{
    text-align: right;
    margin-right: 387px;
    margin-top: 30px;
}

.ctvrtek{
    text-align: right;
    margin-right: 378px;
    margin-top: 30px;

}

.patek{
    text-align: right;
    margin-right: 396px;
    margin-top: 30px;
}

.sobota{
    text-align: right;
    margin-right: 387px;
    margin-top: 30px;
}

.nedele{
    text-align: right;
    margin-right: 387px;
    margin-top: 30px;
}



